<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bem vindo ao Spring Boot</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link type="text/css" rel="stylesheet" href="materialize-v1.0.0/materialize/css/materialize.min.css"  media="screen,projection"/>
 <link type="text/css" rel="stylesheet" href="materialize-v1.0.0/materialize/css/materialize.css"  media="screen,projection"/>
 
 
<h4>Olá, seja bem vindo ao Spring Boot com Pagina em HTML</h4>
</head>
<body>
<a href="/cadastropessoa"> Cadastro de pessoas </a>



<script type="text/javascript" src="materialize-v1.0.0/materialize/js/materialize.js"></script>
<script type="text/javascript" src="materialize-v1.0.0/materialize/js/materialize.min.js"></script>
</body>
</html>